# Env variables
ENV=development
API_URL=https://example.com

# EXPO
EXPO_SLUG=apotek-eccomerce
EXPO_NAME="DEV - Apotek Eccomerce"
EXPO_PROJECT_ID=c0810e0b-d165-4d8f-b295-33059503bb63
EXPO_IOS_BUNDLE_IDENTIFIER=com.apotekeccomerce.dev
EXPO_ANDROID_PACKAGE=com.apotekeccomerce.dev

# Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_KEY=